:root {
  --wrapper-bg-color: #333;
  --container-bg-color: #fff;
  --primary-bg-color: #1b1b1b;
  --most-picked-bg-color: #002fe9;
  --most-picked-text-color: #fff;
  --primary-text-color: #1b1b1b;
  --secondary-text-color: #777777;
  --start-text-color: #fff;
  --ripple-color: #ccc;
  --color-toggler-bg-color: #fff;
  --color-toggler-text-color: #000;
  --color-toggler-hover-bg-color: #000;
  --color-toggler-hover-text-color: #fff;
}

@font-face {
  font-family: "GothamPro";
  src: url("./GothamPro-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "GothamPro";
  src: url("./GothamPro-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica Neue DeskInterface";
  src: url("./HelveticaNeueDeskInterface-Regular.ttf") format("truetype");
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  background-color: var(--wrapper-bg-color);
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.page-wrapper {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--wrapper-bg-color);
}

/* Color Toggle Container */
.page-wrapper .color-toggle {
  margin: 0.75rem;
  overflow: hidden;
}

.color-toggle .color-toggler {
  display: inline-block;
  width: 75px;
  border: none;
  margin: 0;
  padding: 0.3rem 0.75rem;
  border-radius: 3px;
  background-color: var(--color-toggler-bg-color);
  color: var(--color-toggler-text-color);
  cursor: pointer;
  font-family: "GothamPro";
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  transition: background 300ms ease-in, transform 150ms ease, color 500ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.color-toggle .color-toggler:hover {
  background-color: var(--color-toggler-hover-bg-color);
  color: var(--color-toggler-hover-text-color);
}

.page-wrapper .pricing-container {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--container-bg-color);
  transition: all 0.4s ease-in;
}

.pricing-container .pricing-plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pricing-plans .pricing-plan {
  position: relative;
  top: 0;
  width: 220px;
  height: 267px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 63px 20px 0px 20px;
  transition: all 0.3s ease;
  z-index: 1;
}

.pricing-plans .pricing-plan:hover {
  top: 10px;
}

.pricing-plan .plan-title {
  color: var(--primary-text-color);
  font-family: "GothamPro";
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 15px;
}

.pricing-plan .plan-primary-fees {
  display: flex;
  font-family: "GothamPro";
  color: var(--primary-text-color);
  font-weight: 500;
  margin-bottom: 42px;
  justify-content: center;
  align-items: baseline;
}

div#startup.pricing-plan .plan-primary-fees {
  flex-direction: column;
  margin-bottom: 25px;
}

.plan-primary-fees .plan-price {
  font-size: 27px;
  line-height: 27px;
  margin-right: 0.5rem;
}

.plan-primary-fees .plan-duration {
  font-size: 12px;
}

div#startup.pricing-plan .plan-primary-fees .plan-duration {
  margin-top: 2px;
  font-size: 10px;
}

.pricing-plan .plan-yearly-fees {
  font-family: "GothamPro";
  font-size: 10px;
  line-height: 15px;
  color: var(--secondary-text-color);
}
.plan-yearly-fees .plan-yearly-fee {
  font-weight: 300;
}

.plan-yearly-fees .plan-yearly-fee-placeholder {
  font-weight: 500;
}

.pricing-plan .plan-events {
  margin-top: 25px;
  font-family: "GothamPro";
  font-size: 10px;
  line-height: 15px;
  color: var(--secondary-text-color);
}

.plan-events .event-number {
  font-weight: 300;
}

.plan-events .event-placeholder {
  font-weight: 500;
}

.pricing-plan .start-btn {
  position: relative;
  width: 180px;
  height: 50px;
  background-color: var(--primary-bg-color);
  color: var(--start-text-color);
  font-family: "Helvetica-Neue DeskInterface", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  margin-top: auto;
  overflow: hidden;
  z-index: 1;
  transition: all 0.5s ease-in;
}

/* Setup Click Ripple Animation */
.ripple::after {
  content: "";
  background: var(--ripple-color);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.ripple:active::after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

/* Setup >> Animation */
.start-btn span {
  position: relative;
  display: inline-block;
  transition: 0.3s;
}

/* >> to be animated in */
.start-btn span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: -1px;
  right: -20px;
  font-size: 13px;
  transition: 0.4s;
}

/* Create room for the >> */
.start-btn:hover span {
  padding-right: 15px;
}

/* Push >> in */
.start-btn:hover span:after {
  opacity: 1;
  right: 2px;
}

/* Add extra margin to pricing plan with most picked overlay */
.pricing-plan.most-picked {
  /* mp-overlay (height - top) - pricing plan height */
  margin-bottom: 70px;
}

/* Most Picked Overlay */
.pricing-plan .most-picked-overlay {
  position: absolute;
  top: -23px;
  left: 0;
  width: 220px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 2px solid var(--most-picked-bg-color);
}

.most-picked-overlay .most-picked-label {
  width: 218px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--most-picked-bg-color);
}

.most-picked-overlay .most-picked-label span {
  font-family: "Helvetica Neue DeskInterface";
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: var(--most-picked-text-color);
}

/* Attribution */
.pricing-container .attribution {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "GothamPro";
  font-size: 11px;
  line-height: 15px;
  color: var(--secondary-text-color);
  margin: 2rem 0;
}

.attribution > * {
  margin: 0.25rem 2rem;
}

.attribution .coder {
  font-weight: 500;
}

.attribution .coder > * {
  margin-left: 0.25rem;
  font-weight: 300;
}

.attribution .design-credit {
  font-weight: 500;
}

.attribution .design-credit a {
  margin-left: 0.25rem;
  font-weight: 300;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.attribution .design-credit a:hover {
  text-decoration: underline;
}
