@font-face {
  font-family: "GothamPro";
  src: url("./GothamPro-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "GothamPro";
  src: url("./GothamPro-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica Neue DeskInterface";
  src: url("./HelveticaNeueDeskInterface-Regular.ttf") format("truetype");
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  --wrapper-bg-color: #333;
  --container-bg-color: #fff;
  --primary-bg-color: #1b1b1b;
  --most-picked-bg-color: #002fe9;
  --most-picked-text-color: #fff;
  --primary-text-color: #1b1b1b;
  --secondary-text-color: #777777;
  --start-text-color: #fff;
  --color-toggler-bg-color: #fff;
  --color-toggler-text-color: #000;
  --color-toggler-hover-bg-color: #000;
  --color-toggler-hover-text-color: #fff;
  text-align: center;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease,
    color 500ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--wrapper-bg-color);
}

/* Color Toggle Container */
.page-wrapper .color-toggle {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.75rem;
}

.color-toggle .color-toggler {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0.25rem 0.75rem;
  border-radius: 3px;
  background-color: var(--color-toggler-bg-color);
  color: var(--color-toggler-text-color);
  cursor: pointer;
  font-family: "GothamPro";
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  transition: background 300ms ease-in, transform 150ms ease, color 500ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.color-toggle .color-toggler:hover {
  background-color: var(--color-toggler-hover-bg-color);
  color: var(--color-toggler-hover-text-color);
}

.page-wrapper .pricing-container {
  /* width: 1440px; */
  height: 540px;
  display: flex;
  justify-content: center;
  background-color: var(--container-bg-color);
}

.pricing-container .pricing-plans {
  display: flex;
  justify-content: center;
}

.pricing-plans .pricing-plan {
  width: 220px;
  height: 267px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* justify-content: flex-end; */
  margin: 63px 20px;
  z-index: 1;
}

/* Setup for Most Picked Overlay */
div#business.pricing-plan {
  position: relative;
}

.pricing-plan .plan-title {
  color: var(--primary-text-color);
  font-family: "GothamPro";
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 15px;
}

.pricing-plan .plan-primary-fees {
  display: flex;
  font-family: "GothamPro";
  color: var(--primary-text-color);
  font-weight: 500;
  margin-bottom: 42px;
  justify-content: center;
  align-items: baseline;
}

div#startup.pricing-plan .plan-primary-fees {
  flex-direction: column;
  margin-bottom: 25px;
}

.plan-primary-fees .plan-price {
  font-size: 27px;
  line-height: 27px;
  margin-right: 0.5rem;
}

.plan-primary-fees .plan-duration {
  font-size: 12px;
}

div#startup.pricing-plan .plan-primary-fees .plan-duration {
  margin-top: 2px;
  font-size: 10px;
}

.pricing-plan .plan-yearly-fees {
  font-family: "GothamPro";
  font-size: 10px;
  line-height: 15px;
  color: var(--secondary-text-color);
}
.plan-yearly-fees .plan-yearly-fee {
  font-weight: 300;
}

.plan-yearly-fees .plan-yearly-fee-placeholder {
  font-weight: 500;
}

.pricing-plan .plan-events {
  margin-top: 25px;
  font-family: "GothamPro";
  font-size: 10px;
  line-height: 15px;
  color: var(--secondary-text-color);
}

.plan-events .event-number {
  font-weight: 300;
}

.plan-events .event-placeholder {
  font-weight: 500;
}

.pricing-plan .start-btn {
  width: 180px;
  height: 50px;
  background-color: var(--primary-bg-color);
  color: var(--start-text-color);
  font-family: "Helvetica-Neue DeskInterface", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  margin-top: auto;
  z-index: 1;
}

/* Most Picked Overlay */
.pricing-plan .most-picked {
  position: absolute;
  top: -23px;
  left: 0;
  width: 220px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 2px solid var(--most-picked-bg-color);
}

.most-picked .most-picked-label {
  width: 218px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--most-picked-bg-color);
}

.most-picked .most-picked-label p {
  font-family: "Helvetica Neue DeskInterface";
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: var(--most-picked-text-color);
}
